.deals {
  padding: 0px !important;
}
.deals-slider-main-div {
  width: 100%;
  overflow-x: auto;
  padding: 0px;
  display: flex;
}
.deals-slider-main-div::-webkit-scrollbar {
  width: 0.5em;
}
.deals-slider-subMain-div {
  display: flex;
  flex-direction: row;
  width: 215px;
  flex: 0 0 auto;
}
.deals-img1 {
  border-radius: 8px;
  object-fit: cover;
  max-width: 205px;
  width: 100%;
  height: 100% !important;
}
