.m{
    padding: 0px;
}
.lll{
    float: left;
}
.logo{
    width: 50px;
    height: 50px;
    float: left;
    /* position: absolute; */
}
.images{
    padding: 0px;
}
.icon{
    float: right;
}
.icons{
    width: 25px;
    height: 25px;
    margin: 10px;
}
