.address-top-div {
  background-color: rgb(239, 239, 239);
  /* height: 100%; */
}

.form-control {
  border: none !important;
  background-color: rgb(255, 255, 255) !important;
  padding: 10px !important;
}

.form-control:focus {
  border: none !important;
  outline-offset: none !important;
  outline: none !important;
  box-shadow: none !important;
}
/* /////////// */

/* MapComponent.css */
/* .map-container {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .map-container {
    height: 100%;
  }
} */
