.main-logo {
  width: 45px;
  height: auto;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 20px; */
}
.left-side {
  display: flex;
  align-items: center;
  float: left;
}

.hamburger-menu {
  margin-right: 30px;
}

.right-side {
  display: flex;
  float: right;
}

.icon1,
.icon2 {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  font-size: 25px;
  margin-left: 10px; /* Adjust the margin as needed */
}
